<div class="container-fluid vh-100 theme-bg text-white p-0">
  <app-nav-bar></app-nav-bar>
  <div class="flex-fill theme-bg overflow-y-auto overflow-x-hidden">
    <div class="container-fluid p-0" [ngStyle]="{'margin-top': '58px'}">
      <router-outlet></router-outlet>
    </div>
    <footer class="container-fluid text-white theme-main p-0">
      <app-divider-skew [inversed]="true" [mirrored]="true"></app-divider-skew>
      <div class="row">
        <div class="col-12 text-center">
          <img src="assets/favicon/favicon-32x32.png" class="mb-2" alt="logo">
          <h5 class="divider m-0 ">Dubai's Treasures</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
      </div>
    </footer>
  </div>
</div>
