<div class="card- shadow-lg {{class}} border-radius border-dark position-relative">

  <div class="c-title">
    <app-button action="view"
                class="theme-complement basic-hover"
                displayName="{{landmark.title}}">
    </app-button>
  </div>
  <div class="card-body pt-5 theme-main">
    <div class="row">

      <div class="col-12 text-center text-lg-left col-lg-4 pb-lg-0 pb-3">
        <img alt="thumbnail" class="rotate-hover" src="https://via.placeholder.com/250">
      </div>
      <div class="col">
        {{landmark.short_info}}
      </div>
    </div>
  </div>
  <div class="card-footer text-center theme-bg">
    <a href="{{landmark.url}}" target="_blank">More info <i class="la la-external-link"></i></a>
  </div>
</div>
