<div class="card card-custom {{class}} position-relative">

  <div class="card-body shadow-lg theme-main">
    <div class="row">
      <div class="col-12 text-center align-self-center text-lg-left col-lg-4 pb-lg-0 pb-3">
        <img alt="thumbnail"
             (click)="photoModal.show()"
             width="250"
             height="250"
             title="preview photo"
             class="rotate-hover pointer border-radius gradient-animation"
             [class.img-placeholder]="!landmark.photo_thumb?.url"
             src="{{landmark.photo_thumb?.url || 'https://via.placeholder.com/250'}}">
      </div>
      <div class="col">
        <h4 class="font-weight-bold divider text-center">
          <a class="text-white text-pop-up-top"
             title="See the full article"
             [routerLink]="['landmark', landmark.objectId]">
            {{landmark.title}}
          </a>
        </h4>
        <p>
          {{landmark.short_info}}
        </p>
        <app-button action="edit"
                    *ngIf="auth.user?.superAccess"
                    class="basic-hover"
                    [routerLink]="['landmark', landmark.objectId, 'edit']">
        </app-button>
      </div>
    </div>
  </div>
</div>

<app-modal #photoModal
           [hasFooter]="false"
           headerTitle="{{landmark.title}} - Photo preview"
           [fullHeight]="true"
           [fullWidth]="true">
  <ng-container body>
    <div class="container-fluid text-center">
      <img src="{{landmark.photo?.url || 'https://via.placeholder.com/250'}}">
    </div>
  </ng-container>
</app-modal>
